.task1 .item {
  position: absolute;
  left: 200px;
  top: 150px;
}

.task2 .item {
  position: absolute;
  left: 338px;
  top: 150px;
}

.task3 .item {
  position: absolute;
}

.container4 {
 
}

.task4 {
  width: 1000px;
}
.task4 .item {
  position: absolute;
  top: 20px;
  left: 338px;
}

.task5 .item1 {
  background-color: red;
  position: relative;
  left: 25px;
  top: 25px;
  z-index: 2;
}
.task5 .item2 {
  position: relative;
  left: 50px;
  bottom: 35px;
  z-index: 1;
  
}
.task5 .item3 {
  position: absolute;
  background-color: green;
  top:0;
  left:0;
  z-index: 3;
}

.task6 .item {
  float: left;
}

.task7 .item {
  float: right;
}

.task8 {
  position: absolute;
}

.task8 .item1 {
  position: relative;
  top: 0;
  left: 0;
  float:none
}
.task8 .item2 {
  height: 120px;
  position: relative;
  bottom: 90px;
  left: 660px;
  float:none
}

.task8 p {
  position: relative;
  bottom: 90px;
}

.task9 .item1 {
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  float: left;
}
.task9 .item2 {
  position: relative;
  bottom: 0;
  left: 660px;
  float:none
}
.task9 p {
}

.task10 .item1 {
 
  position: relative;
  top: 0;
  left: 0;
  float: none;
}
.task10 .item2 {
  height: 200px;
  position: relative;
  bottom: 90px;
  left: 0;
  float:right;
}
.task10 p {
}

.task11 .img-item {
  height: 100%;
  width: 100%;
  object-fit:contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: relative;
  left: 275px;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: relative;
  right: 275px;
  bottom: 100px;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: relative;
  top: 100px;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: relative;
  right: 235px;
  bottom: 75px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: relative;
  top: 0;
  right: 0;
}

.task20 {
  user-select: none;
}

.task21 {
  user-select: all;
}

.task22 {
  cursor: text;
}

html {
  scroll-behavior: smooth;
}
